<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="formStyle.css">
  </head>
  <body>
    <div class = "wrapper">
      <form action="/" method="post">
        <div class="header">
          <span class="title">My ToDO List!</span>
        </div>
        <div class = "fields" id = "fields">
          <textarea rows ="2" cols="50" name ="toDoField" placeholder="What do you need to do?">
        </textarea>
        </div>
        <div class="footer">
          <button type="submit">Let's Do IT!</button>
        </div>
      </form>
    </div>
    <div class = "tasks">
      {{ #toDo }}
        <ul style="list-style-type:none">
          <li>{{ toDoField }}<button type="button" class ="completeButton" >Click Me!</button></li>
        </ul>
        {{ /toDo }}
        {{ ^toDo }}
        {{ /toDo }}
      </div>


    <div class = "completedTasks">

    </div>

  </body>
</html>
